body {
    font-family: "Open Sans", sans-serif;
    background-image: url("background.jpg");
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

#help {
    text-align-last: left;
    float: left;
    width: 100px;
    padding-left: 148px;
    padding-top: 12px;
    
}

h1 {
    padding-top: 0px;
    margin-top:0px ;
    font-size: 2.5em;
    color: #525252;
}

.box {
    background: rgb(235, 236, 159);
    width: 401px;
    height: 333px;
    border-radius: 68px;
    margin: 0 auto 0 auto;
    padding: 78px 0px 69px 1px;
    border: #8d99ac 11px double;
}

.email {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #aaaaaa;
    margin-top: 20px;
    font-size: 1em;
    border-radius: 4px;
    
}

.password {
    border-radius: 4px;
    background:blueviolet;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;
    font-size: 1em;
}

.btn {
    background: rgb(34, 169, 151);
    width: 145px;
    padding-top: 12px;
    padding-bottom: 8px;
    color: #fbf5f5;
    border-radius: 37px;
    border: #5991a0 5px solid;
    margin-top: 18px;
    margin-bottom: 20px;
    float: left;
    margin-left: 123px;
    font-weight: 800;
    font-size: 22px;
}

.btn:hover {
    background: #2cc06b;
}

#btn2 {
    float: right;
    background: #3498db;
    width: 89px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 20px;
    border: #2a6e9a 4px solid;
    margin-top: 3px;
    margin-bottom: 20px;
    margin-right: 34px;
    font-weight: 800;
    font-size: 0.8em;
}

#btn2:hover {
    background:#ebdc13;
}